.banner3-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 16px; 

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0.25) 80%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: rotate(25deg);
    animation: shineEffect 2.5s infinite;
    z-index: 2;
    pointer-events: none;
  }
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}

@keyframes shineEffect {
  0% {
    transform: translateX(-100%) rotate(25deg);
  }
  100% {
    transform: translateX(100%) rotate(25deg);
  }
}