.last-footer {
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  padding: 18px 0 14px 0;
//   border-radius: 0 0 16px 16px;
  letter-spacing: 1px;
}
.copyright:hover {
    cursor: pointer;
}